@charset "UTF-8";

#TopHeader{
width:100%;
height:120px;
background-color: rgb(0, 0, 0);

}
#logo{

    margin-left: auto;
    margin-right: auto;
    display: block;
    
    height: 100%;
}
body{

    background-color: black;
}

#navbar ul{
text-align: center;
margin-left: 100px;
}


#navbar li
{
display: inline-block;
margin-right: 170px;
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
}

#navbar a{
text-decoration: none;
    color:#C5FFFD ;
    
}
#navbar a:hover{
    color:#8B8BAE;
}


#profile

{
    margin-top: 0%;
float:right;
width:62.5%;
position: relative;

}

#articletitle{
    margin-top: 50px;
    position: absolute;
    font-size: 120px;
    font-family: "Comic Sans MS", cursive, sans-serif;
   letter-spacing: -0.4px;
    word-spacing: 1.2px;
    font-weight: 700;
   font-style: italic;
   text-transform: none;
    color:#C5FFFD;


}

#articleP{
color:white;
    float:left;
    margin-top:13%;
    font-size:40px;
    position:absolute;
    
}