#TopHeader{
    width:100%;
    height:120px;
    background-color: rgb(0, 0, 0);
    
    }
    #logo{
    
        margin-left: auto;
        margin-right: auto;
        display: block;
        
        height: 100%;
    }
    body{
    
        background: rgb(0,0,0);
        background: linear-gradient(176deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 42%, rgba(70,5,82,1) 100%, rgba(0,212,255,1) 100%);
        overflow: scroll;
    }
    
    #navbar ul{
    text-align: center;
    margin-left: 100px;
    }
    
    
    #navbar li
    {
    display: inline-block;
    margin-right: 170px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    #navbar a{
    text-decoration: none;
        color:#C5FFFD ;
        
    }
    #navbar a:hover{
        color:#8B8BAE;
    }
    
    
    #articletitle{
        margin-top: 50px;
        position: absolute;
        font-size: 120px;
        font-family: "Comic Sans MS", cursive, sans-serif;
       letter-spacing: -0.4px;
        word-spacing: 1.2px;
        font-weight: 700;
       font-style: italic;
       text-transform: none;
        color:#C5FFFD;
    
    
    }
    
    #articleP{
        color:white;
            float:left;
            margin-top:13%;
            font-size:40px;
            position:absolute;
            
        }
    input[type=text],#Description, input[type=submit] {
    color:white;
    float:center;
    width:33%;
    padding: 12px;
    font-size: 20px;
    border: 4px solid rgb(132, 0, 255);
     border-radius:9px;
    box-sizing: content-box;
    color:white;
    background-color: black;
    display: block;
    margin:auto;
        }
    
    #Content{
    margin-top: 6%;
    
    }
    #ContactHeader{
    color:#C5FFFD;
    font-size: 40px;
    margin-left:35%;
    position:absolute;
    
    }